In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [6]:
df = pd.read_csv('train.csv')
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62

In [74]:
df.columns
cols = [
    'Product ID',
    'Product Name',
    'Sales', 'Sub-Category', 'Category'
]
df1 = df[cols].drop_duplicates()
df1

,Product ID,Product Name,Sales,Sub-Category,Category
0,FUR-BO-10001798,Bush Somerset Collection Bookcase,261.9600,Bookcases,Furniture
1,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,Chairs,Furniture
2,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,14.6200,Labels,Office Supplies
3,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,957.5775,Tables,Furniture
4,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,22.3680,Storage,Office Supplies
...,...,...,...,...,...
9793,OFF-PA-10001560,"Adams Telephone Message Books, 5 1/4” x 11”",4.8320,Paper,Office Supplies
9796,OFF-AR-10001374,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,Art,Office Supplies
9797,TEC-PH-10004977,GE 30524EE4,235.1880,Phones,Technology
9798,TEC-PH-10000912,Anker 24W Portable Micro USB Car Charger,26.3760,Phones,Technology
9799,TEC-AC-10000487,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,Accessories,Technology

In [69]:
print('id', len(df1['Product ID'].drop_duplicates()))

print('name', len(df1['Product Name'].drop_duplicates()))

print('price',len(df1['Sales'].drop_duplicates()))

print('price',len(df1[['Product ID', 'Product Name']].drop_duplicates()))

id 1861
name 1849
price 5757
price 1893

In [ ]:
cust_cols = [
    'Customer ID',
    'Customer Name',
    'Segment',
    'Address_Key',
    'Order ID' # int
]

sales_cols = 

ship_cols = [
    'Order ID',
    'Row ID', 'Order Date', 'Ship Date', 'Ship Mode']

address_cols = [
    'Customer_ID',
    'Address_Key'
    'Postal Code',
    'City',
    'State',
    'Region',
    'Country'
    
]

# Normalização

In [ ]:
'Country' -> 'State' -> 'City' -> 'Postal Code'

In [ ]:
 ->